<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
  <uses-permission android:name="android.permission.RECORD_AUDIO" />

  <application android:label="VoiceIME" android:allowBackup="false">
    <service
      android:name=".VoiceKeyboardService"
      android:label="VoiceIME"
      android:permission="android.permission.BIND_INPUT_METHOD"
      android:exported="true">
      <intent-filter>
        <action android:name="android.view.InputMethod" />
      </intent-filter>
      <meta-data
        android:name="android.view.im"
        android:resource="@xml/method" />
    </service>

    <activity android:name=".PermissionsActivity"
      android:exported="true"
      android:label="Enable VoiceIME" />

    <activity android:name=".SettingsActivity"
      android:exported="false"
      android:label="Settings" />
  </application>
</manifest>